Protocol 2
HostKey /usr/local/etc/ssh/ssh_host_ed25519_key
HostKey /usr/local/etc/ssh/ssh_host_rsa_key

UseDNS no

PermitRootLogin no
X11Forwarding no
AllowTcpForwarding no

Subsystem sftp internal-sftp
ForceCommand internal-sftp
ChrootDirectory %h

LogLevel VERBOSE
